/*
Thema Name: Alura Intercâmbios
Author: Clóvis Balreira Rodrigues
Author URI: https://www.linkedin.com/in/clovis-balreira-rodrigues/
Description: Tema desenvolvido para o curso de WordPress da Alura.
Version: 1.0
Tags: intercâmbio, viagem, alura, wordpress
*/